@font-face {
    font-family: myFont;
    src: url(../../GrobeDeutschmeister.ttf);
  }
.topHeading{
    font-family:fantasy,myFont,cursive;
    font-size: 33px
    
}
.heading{
    color:#ea0606;
}
.logoImg{
    height: auto;
    max-width: 40px;
    vertical-align: sub
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    color:white;
    font-size: 16px;
}
